# JetBrains IntelliJ IDEA files
.idea/
*.iml

# Log files
*.log

# Libraries and others
*.jar
*.zip

# Target
target/

# Unused web-app files
web-app/WEB-INF/
web-app/images/
web-app/js/
web-app/css/errors.css
web-app/css/main.css
web-app/css/mobile.css

docs/
plugin.xml
.settings

# Unused grails files
grails-app/i18n/
grails-app/conf/UrlMappings.groovy
