# JetBrains IntelliJ IDEA files
.idea/
*.iml

# Log files
*.log

# Libraries and others
*.jar
*.zip

# Target
target/

# Grails web files
web-app/WEB-INF/
web-app/js/
web-app/images/
web-app/css/errors.css
web-app/css/main.css
web-app/css/mobile.css

grails-app/i18n/
