<plugin name='asynchronous-mail' version='0.2.1-SNAPSHOT' grailsVersion='1.2.3 &gt; *'>
  <author>Vitaliy Samolovskih aka Kefir</author>
  <authorEmail>kefir@perm.ru</authorEmail>
  <title>Asynchronous mail grails plugin</title>
  <description>\
This plugin realise asynchronous mail sent. It place messages to DB and sent them by quartz job asynchronously.
</description>
  <documentation>http://www.grails.org/plugin/asynchronous-mail</documentation>
  <resources>
    <resource>AsynchronousMailBootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>DefaultAsynchronousMailConfig</resource>
    <resource>UrlMappings</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailAttachment</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailMessage</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailJob</resource>
    <resource>ru.perm.kefir.asynchronousmail.ExpiredMessagesCollectorJob</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailService</resource>
  </resources>
  <dependencies>
    <plugin name='mail' version='1.0-SNAPSHOT &gt; *' />
    <plugin name='quartz' version='0.4.2 &gt; *' />
    <plugin name='hibernate' version='1.2.3 &gt; *' />
  </dependencies>
  <behavior />
</plugin>