<plugin name='asynchronous-mail' version='0.1.1' grailsVersion='1.1.2 &gt; *'>
  <author>Vitaliy Samolovskih aka Kefir</author>
  <authorEmail>kefir@perm.ru</authorEmail>
  <title>Asynchronous mail grails plugin</title>
  <description>\
This plugin realise asynchronous mail sent. It place messages to DB and sent them by quartz job asynchronously.

I test it with Grails 1.2.1. And it works good.
</description>
  <documentation>http://www.grails.org/plugin/asynchronous-mail</documentation>
  <resources>
    <resource>AsynchronousMailBootStrap</resource>
    <resource>DefaultAsynchronousMailConfig</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailAttachment</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailMessage</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailJob</resource>
    <resource>ru.perm.kefir.asynchronousmail.ExpiredMessagesCollectorJob</resource>
    <resource>ru.perm.kefir.asynchronousmail.AsynchronousMailService</resource>
  </resources>
  <dependencies>
    <plugin name='mail' version='0.9 &gt; *' />
    <plugin name='quartz' version='0.4.1 &gt; *' />
    <plugin name='hibernate' version='1.1.2 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>